{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Django app</title>
</head>
<body>
    <header class="header">
        <div class="header__container">
            <a href="{% url 'home' %}">
                <img src="https://cdn.worldvectorlogo.com/logos/django.svg" alt="logo" class="header__logo">
            </a>
            <div class="header__buttons">
                {% if not request.user.is_authenticated %}
                <a href="{% url 'login' %}" class="btn">Вход</a>
                <a href="https://t.me/DjangoRegisterBot" class="btn" target="_blank">Регистрация</a>
                {% else %}
                <a href="{% url 'logout' %}" class="btn">Выход</a>
                {% endif %}
            </div>
        </div>
    </header>
    {% block content %}
    <main>
        <p class="main__text">Hello Wolrd 👋</p>
    </main>
    {% endblock content %}
</body>
</html>